@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .dark-bg {
      background: linear-gradient(-45deg, #003C5E, #272E45, #7D76BB, #8C71EE);
        background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  }

}